<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name = "viewport" content = "width = 1000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <title>Emmanuel Stocco</title>
  
  <meta name="description" content="An awesome party for web folk and classy people. Sunday, March 13 2011, starting at 8:00, at Emo's 603 Red River St. Austin, TX" />
  <meta name="author" content="nclud" />
  <link rel="stylesheet" href="css/style.css?v{{ page.css_version }}" />
  <script src="js/modernizr.js"></script>
</head>
<body>

<div id="wrap">

  <div id="offset"></div> 
  <div id="container">
    <ul id="nav">
      <li class="intro"><a href="#intro" class="page-nav">Introdução</a></li>
      <li class="featuring"><a href="#featuring" class="page-nav">Apresentação</a></li>
      <li class="sponsorz"><a href="#sponsorz" class="page-nav">Stacks</a></li>
      <li class="flip-cup"><a href="#flip-cup" class="page-nav">Serviços</a></li>
      <li class="teams"><a href="#teams" class="page-nav">Projetos</a></li>
    </ul>
    
    <div id="environment">
      <div id="content">

        <section id="intro">
          <h1>Emmanuel</h1>
          <h2>Stocco</h2>
          <time datetime="2011-03-13">
            <span class="day-of-week">Segunda</span> 
            <span class="day"><i>a</i> Sexta </span> 
            <!-- <span class="year">2022</span>  -->
            <span class="time">A partir das 9:00 PM</span>
          </time>
          <div class="location"> 
            <a href="https://www.google.com.br/maps?q=-12.158272+-44.998584+(Rua+Guanabara,+216+%E2%80%93+Recanto+do+LagoCentro,+Teixeira+de+Freitas,+BA,+45995000,+br)"> 
              <h4>End &rsquo;s</h4>  
              <p class="street">772 Manuel de Freitas</p> 
              <p class="city">Franca, SP</p>
            </a> 
          </div>
          <p class="blurb">Desenvolvedor Full-Stack </p>                  
          <div id="credit"><a href="http://www.github.com/EmmanuelStocco">criação de emmanuel stocco </a></div>
        </section> <!-- #intro -->

        <section id="featuring">
          <h1>Apresentação</h1>

          <div class="feature beverages">
            <h2>Formação</h2>
            <p>
              <span class="provided">2022</span>
              <strong>
                <span class="victory">Fatec</span>
                <span class="company">ANALISE E</span>
                <span class="company">DESENVOLVIMENTO</span> 
                <span class="company">DE</span> 
                <span class="company">SISTEMAS</span> 
                
              </strong>
            </p>
          </div>

          <div class="feature music">
            <h2>Habilidades</h2>
            <p>
              <!-- <span class="provided">Criação de API-Rest</span> -->
              <strong class="richard-gear">
                <span class="artist">Criação de API-Rest</span>
                <!-- <span class="link"><a href="http://teamgeniusmusic.com/">teamgeniusmusic.com</a></span> -->
              </strong>
              <strong class="richard-gear">
                <span class="artist">Deploy de Aplicações</span>
                <!-- <span class="link"><a href="http://shellsmusic.com/">shellsmusic.com</a></span> -->
              </strong>
              <strong class="richard-gear">
                <span class="artist">Front-end Em SSR/SPA/SST</span>
                <!-- <span class="link"><a href="http://richardgear.bandcamp.com/">richardgear.bandcamp.com</a></span> -->
              </strong>
              <strong class="richard-gear">
                <span class="artist">Versionamento de Código</span>
                <!-- <span class="link"><a href="http://richardgear.bandcamp.com/">richardgear.bandcamp.com</a></span> -->
              </strong>
              <strong class="richard-gear">
                <span class="artist">Boas práticas em segurança/SEO</span>
                <!-- <span class="link"><a href="http://richardgear.bandcamp.com/">richardgear.bandcamp.com</a></span> -->
              </strong>
            </p>
          </div>
            
          <div class="blurb">
            <p>Sou um desenvolvedor de software autônomo com experiencia de carreira. Caso deseje criar seu software ou aplicativo basta entrar em contato!
            </p>
            <p class="badge">Full-stack Developer</p>
          </div>
          
          <button class="links" onclick="location.href = 'http://www.github.com/EmmanuelStocco';">          
          </button>
        </section> <!-- #featuring -->

        <section id="sponsorz">
          <h1>Stacks:</h1>
          <ul class="spnsr-list">
            <li class="n1"><a class="victory ir" href="https://nodejs.org/en/docs/" title="Node.js" >Node.js</a></li>
            <li class="n2"><a class="pruf ir" href="https://reactnative.dev/docs/getting-started" title="React/React Native">React/React Native</a></li>
            <li class="n3"><a class="browser-media ir" href="https://developer.mozilla.org/pt-BR/" title="Js/Html/Css">Js/Html/Css</a></li>
            <li class="n4 half"><a class="hanerino ir" href="https://www.postgresql.org/docs/" title="postgreSQL">postgreSQL</a></li>
            <li class="n5 half"><a class="function ir" href="https://docs.expo.dev/" title="Expo">Expo</a></li>
            <li class="n6 half"><a class="hashrocket ir" href="https://nextjs.org/docs" title="Next.js">Next.js</a></li>
            <li class="n7 half"><a class="argyle ir" href="https://dev.mysql.com/doc/" title="mySQL">mySQL</a></li>
            <li class="n8"><a class="nclud ir" href="https://devdocs.io/typescript/" title="Typescript" >Typescript</a></li>
            <li class="n9 half"><a class="bold ir" href="https://vuejs.org/" title="Vue.js" >Vue.js</a></li>
            <li class="n10 half"><a class="howaboutwe ir" href="https://docs.angularjs.org/guide" title="Angular.JS ">Angular.JS </a></li>
          </ul>

          <!-- <p class="fontfabric"><a href="http://fontfabric.com/">Fonts by <b>Fontfabric</b></a></p> -->

          <p class="blurb">
            Tecnologias que tenho experiencia
          </p>
        </section> <!-- #sponsorz -->

        <section id="flip-cup">

          <h1>Serviços <span class="tournament"><span class="tourn">Pres-</span><span class="ament">tados</span></span></h1>
          
          <div class="copy">
            <h3>Monte sua aplicação.</h3>
            <p>Para você que tem uma ídeia inovadora e deseja finalmente criar seu software/site/aplicativo, chegou a hora!</p>            
            <p>Trago a possibilidade de tornar sua ideia real e efetivada da melhor mais criativa e inovadora forma possível.</p>            
          </div>
          
          
          <h2 class="rules-title">veja</h2>
          
          <div class="rules">
            <ul>
              <li><b>Criação de sites</b> <br> Desenvolvimento de web-sites para as mais diversas funções. </li>
              <li><b>Desenvolvimento de aplicativos.</b> <br> Realize o sonho de ter seu app no ar. </li>
              <li><b>Loja virtual/Ecommerce</b><br> Criação de Loja Online, venda produtos ou receba pagamentos através da da Internet.</li>
              <li><b>Blogs com diversidade de plugins e estrutura.</b><br> Crie sua página online pessoal ou empresárial. </li>
              <li><b>Desenvolvimento de aplicações privadas web.</b><br>Monte seu sistema particular de ERP, gestão ou o que preferir! </li>
              <li><b>SEO e criação de sistemas por SSR. </b><br>Site no Topo do Google, melhorar o posicionamento nos sites de busca.</li>                          
              <li><b>Inovação em projetos. </b><br>Experiência no Desenvolvimento Rápido e Criativo. </li>                          
            </ul>
          </div>

          <div class="arrow">
            <a id="start-sign-up" href="#teams" class="page-nav"><span class="team">Veja</span> <span class="sign-up"> mais! </span></a>
          </div>
          
          
        </section> <!-- #flip-cup -->

        <section id="teams">

          <h1><span class="tournament"><span class="tourn">Tourn</span><span class="ament">ament</span></span> <span class="teams-title">Teams</span></h1>

          <ul class="team-list">
          {% for team in site.teams %}
            <li class="team {% cycle 'team-a', 'team-b' %}">
              <h2>{{ team.name }}</h2>
              <ul class="player-list">
                {% for player in team.players %}
                <li class="player">
                  {{ player.name }}
                  {% if player.twitter %}
                    <a href="http://twitter.com/{{ player.twitter }}">@{{ player.twitter }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          </ul>
          
        </section> <!-- #teams -->

        <section id="limbo">
          <a href="#intro" id="totem" class="page-nav"><img src="img/totem01.gif" alt="" /></a>
        </section> <!-- #limbo -->
        
      </div> <!-- #content -->

    </div> <!-- #environment -->
    
  </div> <!-- #container -->
  

</div> <!-- #wrap -->

<div id="scroll-proxy"></div>
<!-- 
<audio preload="auto">
  <source src="audio/inception.mp3" type="audio/mp3" />
  <source src="audio/inception.ogg" type="audio/ogg" />
</audio> -->
  

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.4.4.min.js"%3E%3C/script%3E'))</script>
<script src="js/scripts.js?v{{ page.script_version }}"></script>

<script>
  var _gaq=[['_setAccount','UA-6925512-7'],['_setDomainName', 'beercamp.com'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
  
  
</body>
</html>